* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin:0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 20;
    overflow: hidden;
    background-color: rgb(11,14,14);
  }
  
li {
    float: right;
}
  
li a {
    display: block;
    color: rgb(244,241,241);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}

#active {
    background-color: #F3C111;
    padding: 14px 16px;
    color: rgb(11,14,14);
    border-radius: 5px;
}

#pozadinska {
    z-index:-2;
    width: 100%;
    height: auto;
}

#baner1 {
    background-color: rgb(244,241,241);
}