<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="dizajn.css">
</head>
<body>
  <div id="vapp">
    <ul>
      <li style="float:left;"><a href="#sranje">Kruna</a></li>
      <li style="float:left;"><a href="#sranje" id="active"><strong>Team Deathmatch</strong></a></li>
     <li><a href="#contact">Galerija</a></li>
      <li><a href="#about">Registracija</a></li>
    </ul>
  <marquee style="background-color:rgb(255, 240, 36);">{{ obavestenje }}</marquee>
  <div id="darkoverlay">
    <img src="/media/Grand-Theft-Auto-San-Andreas-Naguide.jpg" alt="big-smoke" id="pozadinska">
    <div>
      <h2>Najbolji TDM mod na balkanu!</h2>
      <p>Dostupnost 24/7</p>
      <p>Odlicne performanse</p>
      <p>Browser registracija i pregled inverntara igraca</p>
    </div>
  </div>
</nav>
    <div id="baner1">
      <h2>Discord zajednica</h2>
      <img src="/media/discord.png" alt="discord">
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p><a>Learn more</a></p>
    </div>
  </div>
  <div class="futer">
    <div>Copyright &copy - 2020 Kruna TDM community</div>
    <div></div>
  </div>
  <script src="vudizajn.js"></script>
</body>
</html>